html {
    box-sizing: border-box;

}

*,
::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    width: auto;
    background-image: url("../images/backgroundImage.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

