html {
    box-sizing: border-box;

}

*,
::after, ::before {
    box-sizing: inherit;
}

.body {
    font-family: 'Montserrat', sans-serif;
    width: auto;
    background-image: url("../images/converter\ background.png");
}

  